@import "variables";

h2 {
  max-width: 795px;
  color: $black !important;
  margin-bottom: 1.25rem !important;
}

p {
  margin-bottom: 1.25rem;
}

.quotewrapper {
  margin: 0;
  line-height: 1.75em;
}

.quotewrapper blockquote,
figcaption {
  font-family: "Helvetica-Oblique", "Helvetica", sans-serif;
  font-style: italic;
  margin: 0;
}

.quotewrapper blockquote.quote {
  font-size: 1.5em;
  font-weight: bold;
  color: $text-gray;
}

.quotewrapper .sigwrapper {
  display: flex;
}

.quotewrapper figcaption.sig {
  margin-left: auto;
  text-transform: uppercase;
  order: 2;
  font-size: 1.25em;
}
